.stadium {
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.stadium button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}