.stand.north {
    width: calc(100% - 80px);
    height: 40px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.stand.east {
    width: 40px;
    height: calc(100% - 80px);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.stand.south {
    width: calc(100% - 80px);
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.stand.west {
    width: 40px;
    height: calc(100% - 80px);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.stand input {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.stand label {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.stand label {
    background-color: navy;
}

.stand input:checked + label {
    background-color: darkslateblue;   
}

.stand span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
}

.stand.west span {
    transform: rotate(-90deg) translate(-50%, -50%);
    display: block;
}

.stand.east span {
    transform: rotate(90deg) translate(-50%, -50%);
    display: block;
}